# Scripts development

In this notebook I check that scripts that I develop for the workflow work as they should

<a name="sd_home"></a>

## Contents

0. [ Library and packages ](#sd_Lib)
1. [ Functions ](#sd_Fun)
    + 1. [Python Functions](#sd_Pyf)
    + 2. [R Functions](#sd_Rfu)

In [1]:
#import sys
import pandas as pd
#import numpy as np
#import tskit
#import msprime
#import pyslim
#import collections
#import simGL

#from rpy2.robjects import r, pandas2ri
#pandas2ri.activate()

#sys.path.append('../scripts/')

#from spacetime_templates import *

#%load_ext rpy2.ipython
#pandas2ri.activate()


[<img src="arrow.png" width="100" style="float: left;">](#sd_home) &nbsp;

&nbsp;

<a name="sd_Fun"></a>
## 1. Functions

[<img src="arrow.png" width="100" style="float: left;">](#sd_home) &nbsp;

&nbsp;

<a name="sd_1"></a>
## 2. Read csv table

In [9]:
%%bash

ls ../../files/experiments.csv

../../files/experiments.csv

In [26]:
experiments = pd.read_csv("../../files/experiments.csv", delimiter = ";")
experiments

,dat,exp,nam,met,siz,snp,pre,for,cov,err,nod,mem,que,tim
0,europe,1,downsample,1,15000,100,sNNt,ac,None,None,256,20g,False,1-08:00:00
1,europe,2,downsample,2,10000,100,sNNt,ac,None,None,256,8g,False,20.00.00
2,europe,3,downsample,3,5000,100,sNNt,ac,None,None,256,2g,False,08.00.00
3,europe,4,gold,4,1500,100,sNNt,ac,None,None,256,1g,False,03.00.00
4,europe,5,downsample,5,1000,100,sNNt,ac,None,None,256,1g,False,02.00.00
5,europe,6,downsample,6,500,100,sNNt,ac,None,None,256,1g,False,01.00.00
6,europe,7,downsample,7,250,100,sNNt,ac,None,None,256,1g,False,01.00.00
7,europe,8,sampling,8,None,100,sNNt,ac,None,None,256,1g,False,03.00.00
8,europe,9,snp_density,4,1500,75,sNNt,ac,None,None,256,1g,False,03.00.00
9,europe,10,snp_density,4,1500,50,sNNt,ac,None,None,256,1g,False,03.00.00
10,europe,11,snp_density,4,1500,25,sNNt,ac,None,None,256,1g,False,03.00.00
11,europe,12,snp_density,4,1500,10,sNNt,ac,None,None,256,1g,False,03.00.00
12,europe,13,prediction,4,1500,100,space,ac,None,None,256,1g,False,03.00.00
13,europe,14,prediction,4,1500,100,time,ac,None,None,256,1g,False,03.00.00
14,europe,15,gl,4,1500,100,sNNt,gl,5,00.05,256,1g,False,03.00.00
15,europe,16,gl,4,1500,100,sNNt,gl,15,00.05,256,1g,False,03.00.00
16,europe,17,gl,4,1500,100,sNNt,gl,30,00.05,256,1g,False,03.00.00
17,europe,18,n_nodes,4,1500,100,sNNt,ac,None,None,64,1g,False,03.00.00
18,europe,19,n_nodes,4,1500,100,sNNt,ac,None,None,128,1g,False,03.00.00
19,europe,20,n_nodes,4,1500,100,sNNt,ac,None,None,512,1g,False,08.00.00

In [11]:
len(experiments)

20

In [15]:
experiments["dat"]

'europe'

In [20]:
i = 0
workingdir  = "/home/moicoll/spaceNNtime/"
"{}data/{}/downsample/{}.txt".format(workingdir, experiments["dat"][i], experiments["met"][i])

'/home/moicoll/spaceNNtime/data/europe/downsample/1.txt'

In [24]:
metadata = pd.read_csv("../../data/europe/metadata.txt", delimiter = "\t")
metadata

       ind_id  pop   time  sampled        lat        lon  node1  node2
0          78  OOA  50959     True  31.545208  27.034295      0      1
1          79  OOA  50957     True  31.632017  27.979614      2      3
2          80  OOA  50948     True  29.728941  29.364483      4      5
3          81  OOA  50946     True  30.793582  30.936150      6      7
4          82  OOA  50941     True  34.350550  31.219688      8      9
...       ...  ...    ...      ...        ...        ...    ...    ...
14995   45453  EUR    530     True  12.558386  47.881028  29990  29991
14996   45454  EUR    517     True  26.061665  46.222563  29992  29993
14997   45455  EUR    510     True  21.327569  46.876249  29994  29995
14998   45456  EUR    505     True  -1.635051  47.515774  29996  29997
14999   45457  EUR    502     True  12.849096  46.513256  29998  29999

[15000 rows x 8 columns]

In [30]:
metadata.sample(n=int(experiments["siz"][3]), replace=False, weights=None, random_state=1234)

       ind_id  pop   time  sampled        lat        lon  node1  node2
7914    22333  EUR  24463     True  35.129033  37.623317  15824  15825
14559   44487  EUR   2105     True  20.304716  43.567284  29118  29119
12046   36478  ANA  10553     True  32.007919  37.139468  24092  24093
11354   34047  ANA  12953     True  36.297971  39.448016  22700  22701
12729   38827  EHG   8323     True  12.541887  51.826715  25466  25467
...       ...  ...    ...      ...        ...        ...    ...    ...
5195    13985  OOA  33573     True  59.045903  41.096941  10390  10391
5277    14200  OOA  33329     True  60.168943  43.050719  10554  10555
6326    17020  OOA  29796     True  58.171254  39.499172  12652  12653
7984    22550  ANA  24241     True   7.409042  52.431549  15972  15973
11340   33990  ANA  13004     True  42.964283  55.126562  22674  22675

[1500 rows x 8 columns]

In [34]:
(max(metadata["time"])-min(metadata["time"]))/10

5045.7

In [32]:
min(metadata["time"])

502

In [1]:
import simGL

In [2]:
gm = [[1, 0, 1, 1], [0, 0, 1, 1]]